
header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 80px;
   
   
}
.botao:hover{
    background-color: blue;
    color: white;
    height: ;
}
.bot:hover{
    background-color: red;
    color: white;
}
.texto{
    text-decoration: underline;
}